body {margin: 0; background-color: #d4dee8; color: black; font-family: 'Times New Roman', Times, serif;}

h1
    {
        font-size: 4em;
        text-align: center;
        padding: 0px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

h2
    {
        font-size: 3em;
        text-align: center;
        padding: 0px;
        margin-top: 0px;
    }

#cabinet
    {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        height: 300px;
    }

.cab
    {
        width: 50%;
        text-align: center;
        font-size: 3em;
        vertical-align: middle;
        line-height: 150px;

    }

.imgcab
    {
        width: 50%;
    }

#praticien
    {
        display: flex;
        justify-content: center;
        height: 300px;
    }

.prat
    {
        width: 50%;
        text-align: center;
        margin: 0px;
    }

.nom
    {
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;

    }

.liste {list-style-type: none; font-size: 1.5em;}

.imgprat
    {
        width: 50%;
    }

footer
    {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

.horaires {text-align: left; font-weight: bold; font-size: 1.5em; margin-bottom: 10px;}
.jour {padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; font-weight: bold;}

.adresse {text-align: left; font-weight: bold; font-size: 1.5em; margin-bottom: 10px;}
.coordonnée {text-align: left; font-weight: bold; font-size: 1.5em; margin-bottom: 10px;}
.téléphone {text-align: left; font-weight: bold; margin-bottom: 10px;}

a {text-decoration: none}
a:hover {border-bottom: 4px black solid;}
a:active {color: white; background-color:gray}